Question 1

In [5]:
!docker run -it --rm python:3.12.8 bash -c 'pip --version; exit'

pip 24.3.1 from /usr/local/lib/python3.12/site-packages/pip (python 3.12)

Question 2

host = db

port = 5432

Question 3

```
SELECT 
    COUNT(*) FILTER (WHERE trip_distance <= 1) AS n_trips_1,
    COUNT(*) FILTER (WHERE trip_distance > 1 AND trip_distance <= 3) AS n_trips_2,
    COUNT(*) FILTER (WHERE trip_distance > 3 AND trip_distance <= 7) AS n_trips_3,
	COUNT(*) FILTER (WHERE trip_distance > 7 AND trip_distance <= 10) AS n_trips_4,
    COUNT(*) FILTER (WHERE trip_distance > 10) AS n_trips_5
FROM green_taxi_data
WHERE lpep_pickup_datetime >= '2019-10-01'
  AND lpep_dropoff_datetime < '2019-11-01';
```

Question 4

```
SELECT 
    DATE(lpep_pickup_datetime) AS pickup_date,
    MAX(trip_distance) AS max_trip_distance
FROM 
    green_taxi_data
GROUP BY 
    DATE(lpep_pickup_datetime)
ORDER BY 
    max_trip_distance
DESC;
```

Question 5

```
SELECT
    zones."Zone" AS zone_name,
    SUM(gtd.total_amount) AS summed_total_amounts
FROM 
    green_taxi_data gtd
INNER JOIN 
    zones ON zones."LocationID" = gtd."PULocationID"
WHERE
    DATE(gtd.lpep_pickup_datetime) = '2019-10-18'
GROUP BY
    zones."Zone"
HAVING 
    SUM(gtd.total_amount) > 13000
ORDER BY 
    summed_total_amounts DESC;
```

Question 6

```
SELECT 
    do_location,
    max_tip
FROM (
SELECT 
	z2."Zone" as do_location,
	MAX(tip_amount) as max_tip
FROM 
	green_taxi_data gtd
INNER JOIN
	zones z1 ON z1."LocationID" = gtd."PULocationID"
INNER JOIN
	zones z2 ON z2."LocationID" = gtd."DOLocationID"
WHERE lpep_pickup_datetime >= '2019-10-01'
  AND lpep_dropoff_datetime < '2019-11-01'
  AND z1."Zone" = 'East Harlem North'
GROUP BY
	do_location
) AS subquery
ORDER BY 
    max_tip DESC
LIMIT 1;
```

Question 7

terraform init, terraform apply -auto-approve, terraform destroy